

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}*/
.Pokemon-Logo{
  width: 200px;
  height: 75px;
}
.Top-Bar{
  padding: 10px;
  background-color:#222823 ;
  box-shadow: 2px 5px #575A5E;
  display: flex;

}
.Title{
  padding-left: 10px;
  padding-top: 10px;
  color: #F4F7F5;
}
.Team{
  padding-left: 25px;
  background-color: #A7A2A9;
  height: 300px;
  
  align-items: center;
}
.Button-Random{
  
  width: 100px;
  height: 25px;

}
.Team-Main{
  display: flex;
  justify-content: center;
}
.Team-Name{
  padding-left: 20px;
  color: #F4F7F5;
}
.Pokemon{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}