

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } 
}*/
:root{
  --Primary-Color: #F4F7F5;
  --Secondary-Color: #08090A;
  --Primary-bg: #222823 ;
  --Secondary-bg: #A7A2A9;
  --shadow: #575A5E;
}
.Pokemon-Logo{
  width: 200px;
  height: 75px;
}
.Top-Bar{
  padding: 10px;
  background-color:var(--Primary-bg) ;
  box-shadow: 2px 5px var(--shadow);
  display: flex;

}
.Title{
  padding-left: 10px;
  padding-top: 10px;
  color: #F4F7F5;
}
.Team{
  padding-left: 25px;
  background-color: var(--Secondary-bg);
  height: 300px;
  
  align-items: center;
}
.Button-Random{
  
  width: 100px;
  height: 25px;

}
.Team-Main{

  justify-content: center;
}
.Team-Name{
  padding-left: 20px;
  color: var(--Primary-Color);
}
.Team-Row{
  display: flex;
  justify-content: center;
}
.Pokemon{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.Poke-Sprite{
  width: 100px;
  height: 100px;
}

.Options-Back{
  background-color: var(--Secondary-Color);
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 30px;
}
.Options{
  background-color: #575A5E;
  width: 80vw;
  height: 500px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-wrap: wrap;
}
.Options-Content{
  padding-top: 50px;
  color: #F4F7F5;
}
.Poke-Sprite:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}